body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.55);
    user-select: none;
    word-break: break-all;
    margin: 5px;
}

table{
    border-collapse:collapse;
    vertical-align:top;
}

.mainimage{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mainlogo{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 250px;
}

.navigationbar{
    background-color: rgba(34, 34, 34, 0.6);
    color: white;
    width: 100%;
    height: 75px;
    font-size:50px;
    font-weight: bold;
    text-align: center;
}

.navigationbardiv{
    position: relative;
    left:0%;
    width: 100%;
}

.maintitle{
    width: 100%;
    text-align: left;
    position: absolute;
}

.navigationbarbuttondiv{
    text-align: right;
    position: absolute;
    width: 100%;
}

.productbar{
    background-color: rgba(245, 245, 245, 0.6);
    width: 100%;
    height: 100px;
}

.productbardiv{
    position: relative;
    left:10%;
    width: 90%;
}

.indextitle{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:25px;
    font-weight:bold;
    text-align: center;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) scale(3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(125, 125, 125);
    border-radius: 25px;
    padding: 50px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.422);
    color: white;
    font-size:10px;
    font-weight:bold;
}

.logindiv{
    position: relative;
}

.logininput{
    border-radius: 30px;
    width: 175px;
    height: 20px;
    border: 1px black solid;
    background-color: gray;
    outline: none;
}

.logininput:hover{
    background-color: rgb(74, 74, 74);
}

.logininput:focus{
    background-color: rgb(74, 74, 74);
}

.loginbutton{
    border-radius: 25px;
    width: 75px;
    height: 20px;
    border: 1px black solid;
    background-color: white;
    outline: none;
}

.admininput{
    border-radius: 25px;
    width: 200px;
    height: 35px;
    border: 1px black solid;
    background-color: white;
    font-size: 15px;
}

.button{
    border-radius: 25px;
    background-color: white;
    border: 0.5px black solid;
    height: 30px;
    width: 80px;
    font-size: 15px;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(186, 186, 186, 0.363);
}

.navigationbarbutton{
    border-radius: 25px;
    background: none;
    border: none;
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.navigationbarbuttonlogin{
    border-radius: 25px;
    background-color: white;
    border: none;
    height: 50px;
    width: 125px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.359);
}

.navigationbarbuttonlogin:hover{
    background-color: antiquewhite;
}

.adminbutton:hover{
    background-color: rgba(186, 186, 186, 0.363);
}

.select{
    width:70px;
}

.dragbox{
    border: 1px black solid;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: white;
}

.dropbox{
    border: 1px black solid;
    height: 40px;
    width: 190px;
    display: inline-block;
    background-color: white;
}

.dragimg{
    cursor: grab;
}

.block2{
    border: 1px black solid;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.drag-over{
    border-top: dashed 1px rgb(42, 42, 42);
}


/*
燈箱
########################################################################
*/

.lightboxdiv{
    width: 100%;
    height: 100%;
}

.lightbox{
    height: 200%;
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask{
    height: 200%;
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(100, 100, 100, 0.25);/* 背景顏色 */
}

.close{
    font-size:30px;/* 字體大小 */
    text-align: center;
    width: 90%;/* 寬度 */
    position: absolute;
    bottom: 10px;
    right: 35px;
    /* top: 3p  x; */
}

.body{
    position: fixed;/* 絕對定位 */
    /* left: 100px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;/* 文字置中 */
    width: 700px;/* 寬度 */
    height: 400px;/* 高度 */
    border: 1px blue solid;/* 邊框 */
    background-color: rgba(100, 100, 100, 0.5);/* 背景顏色 */
    border-radius: 15px;/* 圓弧邊框 */
}


/*
########################################################################
*/

/*
log
########################################################################
*/
.logmain{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,20%) scale(1.5);
}

.log{
    background-color: rgb(217, 217, 217);
}

.version{
    border: 1px black solid;
    width: 75px;
}

.logtitle{
    border: 1px black solid;
    width: 150px;
    background-color: rgb(157, 157, 157);
}

.date{
    border: 1px black solid;
    width: 100px;
}

.depiction{
    border: 1px black solid;
    width: 350px;
    background-color: rgb(157, 157, 157);
}

/*
########################################################################
*/

/*
ads
########################################################################
*/

.adstable{
    width: 100%;
    position: absolute;
    top: 26%;
    left: 0px;
}

.adstd{
    border: 1px black solid;
    text-align: center;
    width: 30%;
    height: 400px;
}

.adsimage{
    width: 95%;
    height: 325px;
}

.adsbutton{
    border: 1px black solid;
    width: 95%;
    height: 30px;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 3px;
    cursor: pointer;
}

/*
########################################################################
*/

.footer{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 3px;
    left: 0px;
}

.footerbutton{
    border-radius: 25px;
    background: none;
    border: none;
    height: 20px;
    width: auto;
    font-size: 15px;
    cursor: pointer;
}

.selectbutton{
    color: rgb(162, 162, 162);
}

.selectbutton2{
    color: rgb(255, 255, 255);
}

/*
login
########################################################################
*/

.form{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
}

.formbox{
    position: relative;
    width: 400px;
    height: 425px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox .logintext{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ .logintext,input:valid ~ .logintext{
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}


.forget .logintext input{
    margin-right: 3px;
}

.forget .logintext a{
    color: #fff;
    text-decoration: none;
}

.forget .logintext a:hover{
    text-decoration: underline;
}

.loginbutton{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.signup{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.signup p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.signup p a:hover{
    text-decoration: underline;
}

.social-icon a i{
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}


.create-account p a{
    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}


.create-account p a:hover{
    text-decoration: underline;
}

.forget a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


.forget a:hover{
    text-decoration: underline;
}


/*
########################################################################
*/

/*

########################################################################
*/

/*
########################################################################
*/