@media(prefers-color-scheme:dark){
    body{
        background-color: #000000;
        color: #ffffff;
        font-size: 70px;
    }
    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        content: "Night Mode Test";
        width: 100%;
        height: 900px;
    }
}

@media(prefers-color-scheme:light){
    body{
        background-color: #ffffff;
        color: #000000;
        font-size: 70px;
    }
    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        content: "Light Mode Test";
        width: 100%;
        height: 900px;
    }
}