body{
    background-color: rgba(75, 75, 75, 0.75);
    color: rgb(255, 255, 255);
    user-select: none;
}

h2{
    margin: 0px;
    margin-bottom: 20px;
}

hr{
    border: 1px white solid;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.main{
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.button{
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    height: 35px;
    transition-duration: 0.5s;
}

.button:hover{
    background-color: rgba(186, 186, 186, 0.45);
    color: rgb(255, 255, 255);
}

.selectbutton{
    background-color: black;
    color: white;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.a:hover{
    text-decoration: underline;
}