.indexmain{
    position: relative;
    top: 100px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.indexbox{
    width: 100%;
    height: 40vh;
    margin: 10px 5px;
    cursor: pointer;
}