body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,rgb(25, 25, 30),rgb(25, 25, 60));
    user-select: none;
    word-break: break-all;
    text-align: center;
    color: white;
}

table{
    border-collapse:collapse;
    vertical-align:top;
}

h1{
    margin: 0px;
    margin-bottom: 10px;
}

h2{
    margin: 0px;
}

hr{
    border: 1px rgb(255, 255, 255) solid;
    margin-bottom: 20px;
}

.indextitle{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.navigationbar{
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    color: white;
    background: rgba(250, 250, 250, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 5px;
    z-index: 900;
}

.indexdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) scale(3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(125, 125, 125);
    border-radius: 25px;
    height: 280px;
    width: 275px;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.422);
}

.main{
    border: 2px rgb(255, 255, 255) solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    border-radius: 25px;
    padding: 30px 35px;
    color: white;
    font-size: 30px;
    font-weight:bold;
}

.input{
    border: none;
    width: 75%;
    height: 40px;
    background-color: white;
    background: none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 30px;
}

.input{
    border: none;
    width: 75%;
    height: 40px;
    background-color: white;
    background: none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 30px;
}

.checkbox{
    width: 25px;
    height: 25px;
}

.select{
    width:70px;
}

.dragbox{
    border: 1px black solid;
    height: 60px;
    width: 60px;
    display: inline-block;
    background-color: white;
}

.dropbox{
    border: 1px black solid;
    height: 60px;
    width: 180px;
    display: inline-block;
    background-color: white;
    text-align: left;
}

.dragimg{
    cursor: grab;
}

.block2{
    border: 1px black solid;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.drag-over{
    border-top: dashed 1px rgb(42, 42, 42);
}

.main-table{
    border: 1px black solid;
    color: rgb(0, 0, 0);
    text-align: center;
}

/*admin table*/
.signupdiv{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:10px;
    font-weight:bold;
    margin:3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) scale(3.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(125, 125, 125);
    border-radius: 25px;
    height: 200px;
    width: 300px;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.422);
}

.admin-title{
    font-size:50px;
}

.admin-find{
    text-align: right;
}

.admin-table-num{
    border-bottom: 0.5px black solid;
    width: 300px;
    height: 30px;
    color: white;
    text-align: center;
}

.admin{
    border: 1px white solid;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-45%,0%);
    height: 600px;
    text-align: center;
    overflow-y: auto;
}

.admin-table{
    border-bottom: 0.5px black solid;
    width: 350px;
    height: 30px;
    color: white;
    font-size: 18px;
}

/*user table*/
.title{
    border: 0.5px black solid;
    width:225px;
    height:25px;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.date{
    border: 0.5px black solid;
    width:985px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.user-table4{
    border: 0.5px black solid;
    height:785px;
    text-align: left;
    vertical-align: top;
}

.todo{
    border: 0.5px black solid;
    height: 785px;
    text-align: center;
}

.usertable{
    border: 0.5px black solid;
    background-color: gray;
    width:100px;
    height:30px;
    text-align: center;
    word-wrap: break-word;
}

.all{
    vertical-align: top;
    border: 0.5px black solid;
    width: 620px;
}

.newtodo{
    text-align: left;
    vertical-align: bottom;
}

.todo-title-time{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:155px;
    height:30px;
    text-align: center;
}

.todo-title-work{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:800px;
    height:30px;
    text-align: center;
}

.todo-title-main1{
    border: 0.5px black solid;
    background-color: gray;
    width:155px;
    height:57px;
    text-align: center;
}

.todo-main1{
    border: 0.5px black solid;
    background-color: gray;
    width:800px;
    height:57px;
    text-align: center;
}

.todo-title-main2{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:155px;
    height:57px;
    text-align: center;
}

.todo-main2{
    border: 0.5px black solid;
    background-color: rgb(203, 203, 203);
    width:800px;
    height:57px;
    text-align: center;
}

.work-box{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    border: 0.5px rgb(0, 0, 0) solid;
    text-align: center;
    line-height: 1.1;
    width: 150px;
    font-size: 12px;
    position:absolute;
    /* user-select: all; */
}

#button3{
    width:30px;
    height:20px;
    position: absolute;
    top:0px;
    right:1px;
    font-size: 1px;
    cursor: pointer;
}

#button4{
    width:40px;
    height:20px;
    position: absolute;
    bottom:0px;
    right:1px;
    font-size: 1px;
    cursor: pointer;
}

.right{
    float: right;
}

.div{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:15px;
    font-weight:bold;
    background-color: rgb(125, 125, 125);
    border: 0.5px rgb(0, 0, 0) solid;
    width: 175px;
    height: 125px;
    position: relative;
    top: 450px;
    left:15px;
    word-wrap:break-word;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.422);
}

.useradd{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:10px;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) scale(2.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(125, 125, 125);
    border-radius: 25px;
    height: 350px;
    width: 300px;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.422);
}

.table4but{
    width: 150px;
    text-align: center;
}

.upusertablediv{
    width: 100%;
    height: 12px;
    position: relative;
    bottom: 2px;
    margin: 1px;
}

.userhalf{
    border-top: 1px black solid;
}

.downusertablediv{
    width: 100%;
    height: 12px;
    position: relative;
    top: 2px;
    margin: 1px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.xcenter{
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}

.ycenter{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0%,-50%);
}

.button{
    border: 1px black solid;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button:hover{
    background: gray;
    color: white;
}

.selectbutton{
    background-color: rgba(35, 35, 35, 0.75);
    color: white;
}