.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

h1 {
	margin-top: 0;
}

#image-container, #crop-container {
	margin: 20px auto;
}

#image-container img {
	max-width: 100%;
}

#crop-container canvas {
	border: 1px dashed #ccc;
}
