body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(65, 75, 80);
    color: rgb(255, 255, 255);
    user-select: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

h2{
    margin: 0px;
}

hr{
    border: 1px white solid;
    width: 100%;
    margin: 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.main{
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.logo{
    height: 75px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.maintitle{
    height: 75px;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 50px;
    font-weight: bold;
}

.navigationbar{
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    top: 5px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: rgba(250, 250, 250, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    z-index: 900;
}

.navigationbarbuttondiv{
    position: absolute;
    top: 20px;
    right: 15px;
    margin-bottom: 10px;
}

.navigationbarbutton{
    border: 1px black solid;
    width: 130px;
    height: 50px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    word-break: break-all;
    transition-duration: 0.5s;
}

.navigationbarbutton:hover{
    background: gray;
    color: white;
}

.mainbody{
    position: relative;
    top: 130px;
}

.input{
    border: none;
    width: 75%;
    height: 40px;
    background-color: white;
    background: none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 30px;
}

.button{
    border: 1px black solid;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button:hover{
    background: gray;
    color: white;
}

.reflashbutton{
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(220, 173, 78);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.reflashbutton:hover{
    background-color: rgb(255, 213, 128);
    color: black;
}

.selectbutton{
    background-color: rgba(35, 35, 35, 0.75);
    color: white;
}

.mainimage{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mainlogo{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 250px;
}

.maintitle{
    text-align: left;
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
    font-size: 50px;
}

.navigationbarbuttonlogin{
    border-radius: 25px;
    background-color: white;
    border: none;
    height: 50px;
    width: 125px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.36);
}

.navigationbarbuttonlogin:hover{
    background-color: antiquewhite;
}

.productbutton{
    position: relative;
    top: 100px;
    cursor: pointer;
}

/*
燈箱
########################################################################
*/

.lightboxdiv{
    width: 100%;
    height: 100%;
}

.lightbox{
    height: 200%;
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask{
    height: 200%;
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(100, 100, 100, 0.25);/* 背景顏色 */
}

.close{
    font-size:30px;/* 字體大小 */
    text-align: center;
    width: 90%;/* 寬度 */
    position: absolute;
    bottom: 10px;
    right: 35px;
    /* top: 3p  x; */
}

.body{
    position: fixed;/* 絕對定位 */
    /* left: 100px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;/* 文字置中 */
    width: 700px;/* 寬度 */
    height: 400px;/* 高度 */
    border: 1px blue solid;/* 邊框 */
    background-color: rgba(100, 100, 100, 0.5);/* 背景顏色 */
    border-radius: 15px;/* 圓弧邊框 */
}


/*
########################################################################
*/

/*
log
########################################################################
*/
.logmain{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,20%) scale(1.5);
}

.log{
    background-color: rgb(217, 217, 217);
}

.version{
    border: 1px black solid;
    width: 75px;
}

.logtitle{
    border: 1px black solid;
    width: 150px;
    background-color: rgb(157, 157, 157);
}

.date{
    border: 1px black solid;
    width: 100px;
}

.depiction{
    border: 1px black solid;
    width: 350px;
    background-color: rgb(157, 157, 157);
}

/*
########################################################################
*/

/*
ads
########################################################################
*/

.adstable{
    width: 100%;
    position: absolute;
    top: 26%;
    left: 0px;
}

.adstd{
    border: 1px black solid;
    text-align: center;
    width: 30%;
    height: 400px;
}

.adsimage{
    width: 95%;
    height: 325px;
}

.adsbutton{
    border: 1px black solid;
    width: 95%;
    height: 30px;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 3px;
    cursor: pointer;
}

/*
########################################################################
*/

.footer{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 3px;
    left: 0px;
}

.footerbutton{
    border-radius: 25px;
    background: none;
    border: none;
    height: 20px;
    width: auto;
    font-size: 15px;
    cursor: pointer;
}

.selectbutton2{
    color: rgb(255, 255, 255);
}

/*
login
########################################################################
*/

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%) scale(1.25);
}

.formbox{
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.title{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 100%;
}

.loginsignuptext{
    position: absolute;
    bottom: 40px;
    left: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
}

.loginsignupinput{
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    border-bottom: 2px solid white;
    color: white;
    font-size: 25px;
}

.loginicon{
    position: absolute;
    top: 15px;
    right: 8px;
    width: 25px;
}

.loginsignupcheckbox{
    transform: scale(1.75);
    cursor: pointer;
    margin-right: 10px;
}

.forget{
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 10px;
}

.loginbutton{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.loginbutton:hover{
    background-color: rgb(58, 58, 58);
    color: white;
}

.loginsignup{
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 10px 0px 10px;
}

.a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.a:hover{
    text-decoration: underline;
}

.check{
    margin: -15px 0 10px;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.warning{
    color: red;
    font-weight: lighter;
    font-size: 25px;
}

.formform{
    width: 95%;
}

/*
########################################################################
*/

/*
terms
########################################################################
*/

.terms{
    position: absolute;
    top: 100px;
}


.termstitle{
    font-size: 50px;
    font-weight: bold;
}

.termsdepiction{
    font-size: 25px;
}


/*
########################################################################
*/