body{
    border: 1px black solid;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-0%);
    width: 1024px;
    height: 768px;
}

.main{
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-0%);
    width: 1024px;
    height: 768px;
    background: rgb(19, 24, 41);
    overflow-y: auto;
}

.top{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90px;
    background: #00B0F0;
}

.logo{
    width: 180px;
    height: 90px;
    cursor: pointer;
}

.title{
    display: inline-block;
    position: absolute;
    top:10px;
    right: 0px;
    width: 844px;
    font-family: "標楷體";
    font-size: 52px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 10px 10px 15px #333333;
    text-align: center;
}

.marquee{
    border: 1px black solid;
    position: absolute;
    top: 90px;
    width: 100%;
    height: 25px;
    font-family: "標楷體";
    font-size: 24px;
    color: #0000FF;
    background: white;
}

.menu{
    position: absolute;
    top: 90px;
    width: 100%;
    height: 25px;
    text-align: center;
    background: white;
}

.menubutton{
    border: none;
    width: 140px;
    font-family: "標楷體";
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    background: #EEEEEE;
    transition-duration: 0.5s;
}

.menubutton:hover{
    font-weight: bold;
    color: #FF0000;
    background: #FFFF00;
}

.update{
    position: absolute;
    left: 3px;
    top: 720px;
    width: 215px;
    height: 25px;
    font-family: "標楷體";
    font-size: 16px;
    color: #000000;
    text-align: center;
    background: white;
}

.context{
    position: absolute;
    right: 0px;
    top: 115px;
    width: calc(100% - 40px);
    height: calc(608px - 40px);
    font-size: 14px;
    color: #000000;
    background: #FFFFFF;
    padding: 20px;
}

.contextleft{
    border: 1px #999999 solid;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 280px;
    height: 460px;
}

.contextright{
    border: 1px #999999 solid;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 590px;
    height: 460px;
    background: #333333;
}

.contexttable{
    width: 100%;
    text-align: center;
}

.contexttitle{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.contextmaintopic{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: #3399FF;
    width: 75%;
}

.contextmaindate{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: #3399FF;
    width: 25%;
}

.contexttopic1{
    font-size: 12px;
    line-height: 2;
    background: #FFFFCC;
    width: 75%;
}

.contextdate1{
    font-size: 12px;
    line-height: 2;
    background: #FFFFCC;
    width: 25%;
}

.contexttopic2{
    font-size: 12px;
    line-height: 2;
    background: #DDDDDD;
    width: 75%;
}

.contextdate2{
    font-size: 12px;
    line-height: 2;
    background: #DDDDDD;
    width: 25%;
}

.mainpng{
    width: 550px;
}

.contextpng{
    width: 100px;
    cursor: pointer;
}

.context2{
    font-size: 14px;
    color: #FFFF00;
}

.footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 45px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #CCCCCC;
}


/* ----------------------------------------------------------------------------- */
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}