body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(147, 147, 147, 0.509);
    user-select: none;
    word-break: break-all;
}

table{
    border-collapse: collapse;
}

.main{
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(3);
    border-radius: 25px;
    color: white;
    padding: 20px;
}

.dragbox{
    border: 1px black solid;
    display: inline-block;
    width: 40px;
    height: 40px;
}


.dropbox{
    border: 1px black solid;
    display: inline-block;
    width: 170px;
    height: 40px;
}

.test{
    position: absolute;
    bottom: 45px;
    background-color: rgba(172, 172, 172, 0);
    width: 170px;
    height: 40px;
}

.verifytable{
    position: relative;
    left: 25px;
}

.verifytd{
    border: 1px rgb(109, 109, 109) solid;
    width: 40px;
    height: 40px;
}

.head{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: rgba(172, 172, 172, 0.892);
}

.title{
    position: absolute;
    top: 5px;
    left: 1px;
    font-size: 35px;
}

.hbutdiv{
    position: absolute;
    top: 5px;
    right: 1px;
    text-align: right;
}

.hbut{
    font-size: 35px;
    background: none;
    border: none;
}

.top{
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.bottom{
    position: absolute;
    bottom: 70px;
    left: 0px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.admintable{
    width: 100%;
}

.admintd{
    border: 1px black solid;
    text-align: center;
}

.search{
    position: absolute;
    top: 500px;
    right: 5px;
    width: 95%;
    text-align: right;
}

.timer{
    position: absolute;
    bottom: 1px;
    right: 2px;
    text-align: center;
}

.timetd{
    border: 1px black solid;
    width: 180px;
}

.timers{
    width: 200px;
    font-size: 35px;
    text-align: center;
    background: none;
    border: none;
}

.lightbox{
    background-color: rgb(84, 84, 84);
}

.pbut{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(172, 172, 172, 0.892);
}

.producttable{
    width: 100%;
    position: absolute;
    top: 110px;
    left: 0px;
}

.producttd{
    border: 1px black solid;
    padding: 10px;
}

.coffeetable{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}

.coffeetd{
    border: 1px black solid;
    font-size: 25px;
    width: 375px;
}

.newproducttable{
   position: absolute;
   top: 130px; 
}















.selt{
    color: orange;
}