body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    user-select: none;
    word-break: break-all;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h2{
    margin: 5px;
}

hr{
    border: 1px white solid;
    width: 100%;
    margin: 0px;
}

.main{
    border: 5px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 45%;
    border-radius: 10px;
    list-style: none;
}

.maindiv{
    position: absolute;
    bottom: 5%;
    height: 85%;
    width: 100%;
}

.ul{
    list-style: none;
}

.li{
    margin: 30px 0px;
}

.checkbox{
    display: none;
}

.checkbox:checked+.label{
    text-decoration: line-through;
    font-style: italic;
}

.checkbox:checked+.label:before{
    content: "V";
    border: none;
    background: none;
    font-style: normal;
    font-size: 30px;
}

.label{
    position: relative;
    cursor: pointer;
}

.label:before{
    content: "";
    border: 2px white solid;
    position: absolute;
    left: -35px;
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

/* .checkbox:checked+.label::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    animation: 0.5s line 1;
}

@keyframes line{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
} */