.div{
    animation: 3s change infinite;
}

@keyframes change{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.7;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0.7;
    }
}