<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="div">
        <div id="id1">
            <p>34e2y7913416t78ryhuoiewal</p>
            <p>Otregjpiojrop;vjnsdpoijgv</p>
            <p>r892y9823yhopijemadjodsnb</p>
            <p>kfwopiekjfp9030896y98jsdj</p>
        </div>
        <div id="id2">
            <p>34e2yweu89uoryopjp78ryhuoiewal</p>
            <p>Otregweu89uoryopjp;vjnspoijgv</p>
            <p>r892yweu8shifaoryopjpijdjodsnb</p>
            <p>kfwopwe30896ydl;csjmnop;98jsdj</p>
        </div>
    </div>
    <input type="button" id="but" value="漸變">
    <script src="index.js"></script>
</body>
</html>