body{
    border: 1px black solid;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-0%);
    width: 1024px;
    height: 768px;
}

table{
    border-collapse: collapse;
}

.main{
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-0%);
    width: 1024px;
    height: 768px;
    background: white;
    overflow-y: auto;
}

.top{
    position: absolute;
    left: 12px;
    top: 0px;
    width: 1000px;
    height: 65px;
    background: #0000FF;
    text-align: center;
}

.image{
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
    width: 180px;
    height: 65px;
    cursor: pointer;
    display: none;
}

.title{
    display: inline-block;
    position: absolute;
    top:10px;
    right: 0px;
    width: 844px;
    font-family: "標楷體";
    font-size: 52px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 10px 10px 15px #333333;
    text-align: center;
}

.marquee{
    border: 1px black solid;
    position: absolute;
    right: 12px;
    top: 65px;
    width: 797px;
    height: 29px;
    font-size: 20px;
}

.menu{
    border: 1px black solid;
    position: absolute;
    left: 12px;
    top: 65px;
    width: 200px;
    height: 681px;
    background: #00FFFF;
    text-align: center;
}

.menubutton{
    border: none;
    width: 140px;
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    background: #EEEEEE;
    transition-duration: 0.5s;
}

.menubutton:hover{
    font-weight: bold;
    color: #FF0000;
    background: #FFFF00;
}

.context{
    border: 1px black solid;
    position: absolute;
    right: 12px;
    top: 96px;
    width: 797px;
    height: 650px;
    font-size: 14px;
    background: url("material/park0301.jpg");
}

.mainpng{
    width: 550px;
    height: 350px;
}

.contextpng{
    width: 100px;
    cursor: pointer;
}

.context2{
    font-size: 14px;
    color: #FFFF00;
}

.footer{
    border: 1px black solid;
    position: absolute;
    left: 12px;
    bottom: 0px;
    width: 998px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

.navigationpath{
    color: #FF0000;
    font-weight: bold;
}

.maincontext{
    position: absolute;
    top: 80px;
    width: 95%;
    height: 80%;
    font-size: 15px;
    padding: 10px;
    overflow-y: auto;
    z-index: 100;
}

.navigationbar{
    position: absolute;
    top: 60px;
}

.contexttitle{
    color: #0000FF;
}

.baseballpicture{
    float: right;
    width: 200px;
    height: 133px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.swimmingpicture{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.table{
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
}

.td1{
    border: 1px #DDDDDD solid;
    width: 120px;
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
    padding: 2px;
}

.td2{
    border: 1px #DDDDDD solid;
    width: 580px;
    padding: 2px;
}

.option{
    text-align: center;
}

/* ----------------------------------------------------------------------------- */
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}