body{
    border: 1px black solid;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-0%);
    width: 1024px;
    height: 768px;
}

table{
    border-collapse: collapse;
}

.main{
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-0%);
    width: 1024px;
    height: 768px;
    background: white;
    overflow-y: auto;
}

.top{
    position: absolute;
    left: 12px;
    top: 0px;
    width: 1000px;
    height: 65px;
    background: #0000FF;
    text-align: center;
}

.image{
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
    width: 180px;
    height: 65px;
    cursor: pointer;
    display: none;
}

.title{
    font-family: "標楷體";
    position: absolute;
    top:10px;
    right: 0px;
    width: 844px;
    font-size: 52px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 10px 10px 15px #333333;
    text-align: center;
    display: inline-block;
}

.marquee{
    border: 1px black solid;
    position: absolute;
    right: 12px;
    top: 65px;
    width: 797px;
    height: 29px;
    font-size: 20px;
}

.menu{
    border: 1px black solid;
    position: absolute;
    left: 12px;
    top: 65px;
    width: 200px;
    height: 681px;
    background: #00FFFF;
    text-align: center;
}

.menubutton{
    border: none;
    width: 140px;
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    background: #EEEEEE;
    transition-duration: 0.5s;
}

.menubutton:hover{
    font-weight: bold;
    color: #FF0000;
    background: #FFFF00;
}

.context{
    border: 1px black solid;
    position: absolute;
    right: 12px;
    top: 96px;
    width: 797px;
    height: 650px;
    font-size: 14px;
    text-align: center;
    background: url("material/park0301.jpg");
}

.contextfooter{
    position: relative;
    bottom: 5px;
    color: #FF00FF;
    text-align: right;
}

.mainpng{
    width: 550px;
    height: 350px;
}

.contextpng{
    width: 100px;
    cursor: pointer;
}

.context2{
    font-size: 14px;
    color: #FFFF00;
}

.footer{
    border: 1px black solid;
    position: absolute;
    left: 12px;
    bottom: 0px;
    width: 998px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

/* ----------------------------------------------------------------------------- */
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.td{
    width: 200px;
    padding: 5px;
}

.menuimage{
    width: 120px;
    height: 40px;
}

.menuimage:hover{
    filter: hue-rotate(180deg);
    cursor: pointer;
}

.text{
    font-family: "標楷體";
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: #0000FF;
}

.div2{
    background: #FFFFCC;
    height: 100%;
    padding: 10px;
}

.stext{
    text-align: left;
}