table{
    border-collapse: collapse;
}

textarea{
    font-size: 17px;
}

.border{
    border: 1px black dashed;
    text-align: center;
    padding: 15px;
}
.borad1{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%,0%);
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}
.score{
    width: 70px;  
}