body{
    position: relative;
    top:0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}

.navigationbar{
    background-color: rgba(245, 245, 245, 0.6);
    width: 100%;
    height: 40px;
    position: absolute;
    top:5px;
}

.navigationbardiv{
    float:right;
    position: relative;
    right: 25px;
}

.footerbutton{
    border-radius: 25px;
    background-color: white;
    border: 0.5px black solid;
    height: 30px;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
}

.footerbutton:hover{
    background-color: rgba(140, 140, 140, 0.363);
}

.headerpng{
    width: 100%;
    height: 400px;
}

.post{
    width: 100%;
    margin-top: 25px;
}

.hot{
    width: 100%;
    margin-top: 25px;
}

.box{
    width: 20%;
    height: 400px;
    background: rgb(155, 155, 155);
    display: inline-block;
    text-align: center;
    margin-left: 175px;
}

.posttitle{
    font-size: 20px;
}

.postimg{
    width: 95%;
    height: 90%;
}

.posttime{
    position: relative;
    bottom: 15px;
}

.hottitle{
    font-size: 20px;
}

.hotimg{
    width: 95%;
    height: 85%;
}

.hotstar{
    position: relative;
    bottom: 30px;
}

.starinput{
    width: 100px;
}

.map{
    width: 95%;
    height: 90%;
    margin-top: 25px;
}

.mapbox{
    width: 75%;
    height: 800px;
    background: rgb(155, 155, 155);
    display: inline-block;
    text-align: center;
    margin-left: 175px;
}

.mapimg{
    position: relative;
    bottom: 15px;
}

.mapdepiction{
    width: 12%;
    height: 800px;
    background: rgb(182, 178, 178);
    position: relative;
    bottom: 749px;
    left:100%;
    word-wrap: break-word;
}

.indextitle{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:25px;
    font-weight:bold;
    text-align: center;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:10px;
    font-weight:bold;
    margin:3px;
}

.indexdiv{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform:  translate(-50%, -10%) scale(1.75);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(125, 125, 125);
    border-radius: 25px;
    height: 225px;
    width: 275px;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.422);
}


.button2{
    border-radius: 25px;
    background-color: white;
    border: 0.5px black solid;
    height: 25px;
    width: 75px;
    cursor: pointer;
}

.button2:hover{
    background-color: rgba(186, 186, 186, 0.363);
}

.img{
    width: 20px;
    height: 20px;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.center{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.select{
    background-color: rgb(145, 145, 145);
}


.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    /* top: 50%; */
    top: 450px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black;
}

.breadcrumbs{
    position: absolute;
    top:425px;
    right: 125px;
    transform: scale(1.5);
}


/* 電腦版排版 */
/* @media only screen and (min-width: 1920px) {
    body{
        width: 1920px;
        height: 1080px;
    }

    .logo{
        width: 175px;
        height: 175px;
    }
} */

/* 平板電腦版排版 */
/* @media only screen and (min-width: 768px) and (max-width: 1919px) {
    body{
        width: 768px;
        height: 1024px;
    }

    .logo{
        width: 175px;
        height: 175px;
    }
} */

/* 智慧型手機版排版 */
/* @media only screen and (max-width: 767px) {
    body{
        width: 360px;
        height: 640px;
    }

    .logo{
        width: 175px;
        height: 175px;
    }
} */


body{
    background: rgb(65, 75, 80);
    color: rgb(255, 255, 255);
    user-select: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h2{
    margin: 0px;
}

hr{
    border: 1px white solid;
    width: 100%;
    margin: 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.main{
    border: 1px white solid;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 20%;
}

.logo{
    height: 75px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.navigationbar{
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    top: 5px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: rgba(250, 250, 250, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    z-index: 900;
}

.navigationbarbuttondiv{
    position: absolute;
    top: 20px;
    right: 15px;
    margin-bottom: 10px;
}

.navigationbarbutton{
    border: 1px black solid;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.5s;
}

.navigationbarbutton:hover{
    background: gray;
    color: white;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.xcenter{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}

.ycenter{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0%,-50%);
}

.input{
    border: none;
    width: 75%;
    height: 40px;
    background-color: white;
    background: none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 30px;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.button{
    border: 1px black solid;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button:hover{
    background: gray;
    color: white;
}

.selectbutton{
    background-color: rgba(35, 35, 35, 0.75);
    color: white;
}