body{
    background: rgba(135, 135, 135, 0.65);
    color: rgb(255, 255, 255);
    user-select: none;
    padding: 0px;
    margin: 0px;
}

h2{
    margin: 0px;
}

hr{
    border: 1px white solid;
    width: 100%;
    margin: 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.main{
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.button{
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(29, 145, 29);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button:hover{
    background-color: rgb(102, 220, 102);
    color: black;
}